@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-rgb: 235, 235, 235;
	--foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-rgb: 0, 0, 0;
		--foreground-rgb: 235, 235, 235;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-start-rgb));
}
